[Unit]
Description=Captionator
After=network.target
After=mysql.service
Requires=mariadb.service

[Service]
Type=simple
ExecStart=/opt/captionator/venv/bin/captionator
TimeoutStartSec=3600
Restart=always
RestartSec=10
WorkingDirectory=/opt/captionator
User=captionator
Group=captionator
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target
