{% extends "base.html" %}
{% block title %}Captionator{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="bg-light p-5">
            <h1> Captionator </h1>
        </div>
        <div id="captions" class="fs-1">
            <div class="btn-toolbar justify-content-between" role="toolbar">
                <span class="btn-group col-6" role="group" >
                    <button id="btn-add" class="btn btn-primary">Add</button>
                    <button id="btn-view" class="btn btn-success">View</button>
                    <button id="btn-update" class="btn btn-warning">Update</button>
                    <button id="btn-delete" class="btn btn-danger">Delete</button>
                </span>
                <span class="buttons-toolbar col-6" ></span>
            </div>
            <table
              data-toggle="table"
              data-search="true"
              data-buttons-toolbar=".buttons-toolbar"
              data-pagination="true"
              data-single-select="true"
              data-id-field="id"
              data-select-item-name="id"
              data-click-to-select="true"
              data-url="/captions.json"
            >
              <thead>
                <tr>
                  <th data-field="state" data-checkbox="true"></th>
                  <th data-field="id" data-visible="false">Id</th>
                  <th data-sortable="true" data-field="name">Title</th>
                  <th data-sortable="true" data-field="location">Location</th>
                </tr>
              </thead>
            </table>
        </div>
        <div class="row fs-1">
        </div>
    </div>
    <script src="js/root.js"></script>
{% endblock %}
