{% extends "base.html" %}
{% block title %}Captionator{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="bg-light p-5">
            <h1> Captionator </h1>
        </div>
        <div id="captions" class="fs-1">
            <table
              data-toggle="table"
              data-pagination="true"
              data-search="true"
              data-single-select="true"
              data-id-field="id"
              data-select-item-name="id"
              data-height="1250"
              data-click-to-select="true"
              data-url="/captions.json"
            >
              <thead>
                <tr>
                  <th data-field="state" data-checkbox="true"></th>
                  <th data-field="id" data-visible="false">Id</th>
                  <th data-sortable="true" data-field="name">Title</th>
                  <th data-sortable="true" data-field="location">Location</th>
                </tr>
              </thead>
            </table>
        </div>
        <div class="row fs-1">
            <div class="btn-group" role="group" aria-label="Navigation">
                <button id="btn-add" class="btn btn-outline-primary">Add</button>
                <button id="btn-view" class="btn btn-primary">View</button>
                <button id="btn-update" class="btn btn-outline-primary">Update</button>
                <button id="btn-delete" class="btn btn-outline-primary">Delete</button>
            </div>
        </div>
    </div>
    <script src="js/root.js"></script>
{% endblock %}
