{% extends "base.html" %}
{% block title %}Captionator{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container" >
        <div class="bg-light p-5">
            <h1> Captionator - Edit </h1>
        </div>
        <div class="row" id="captions">
            <form action="/update/{{ id }}" method="POST">
              <div class="mb-3">
                <label for="captionInputId" class="form-label">Caption id</label>
                <input disabled class="form-control" id="captionInputId" aria-describedby="captionId" name="id" value="{{ id }}">
                <div id="captionId" class="form-text">Unique id for this Caption File.</div>
              </div>
              <div class="mb-3">
                <label for="InputName" class="form-label">Name</label>
                <input class="form-control" id="InputName" name="name" value="{{ name }}">
              </div>
              <div class="mb-3">
                <label for="InputLocation" class="form-label">Location</label>
                <input class="form-control" id="InputLocation" name="location" value="{{ location }}">
              </div>
              <div class="mb-3">
                <label for="InputText" class="form-label">Text</label>
                <textarea class="form-control" id="InputText" name="text" style="height: 500px">{{ text }}</textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
