{% extends "base.html" %}
{% block title %}Captionator{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-fluid display-4" >
        <form>
            <div class="bg-light p-5 display-1">
                Captionator - Edit
            </div>
            <div id="captions">
                  <input type="hidden" disabled class="form-control" id="id" name="id" value="{{ id }}">
                  <div class="mb-3">
                    <label for="InputName" class="form-label">Name</label>
                    <input class="form-control form-control-lg" id="InputName" name="name" value="{{ name }}">
                  </div>
                  <div class="mb-3">
                    <label for="InputLocation" class="form-label">Location</label>
                    <input class="form-control form-control-lg" id="InputLocation" name="location" value="{{ location }}">
                  </div>
                  <div class="mb-3">
                    <label for="InputText" class="form-label">Text</label>
                    <textarea class="form-control form-control-lg"
                              id="InputText" name="text"
                              style="height: 750px">{{ text }}
                    </textarea>
                  </div>
            </div>
            <div class="row">
                <div class="btn-group" role="group" aria-label="Navigation">
                  <button id="btn-cancel" class="btn btn-secondary">Cancel</button>
                  <button id="btn-update" class="btn btn-primary" type="submit">
                      Update
                      <span class="spinner-border text-primary d-none" role="status">
                          <span class="sr-only">Submitting...</span>
                      </span>
                  </button>
                </div>
            </div>
        </form>
    </div>
    <script src="/js/update.js"></script>
{% endblock %}
