{% extends "base.html" %}
{% block title %}Captionator{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    .text-height {
        height: 85vh;
        overflow-y: auto;
    }

    .text-display {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: left;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
    }
    .text-display::before {
      content: "";
      background-image: url('/img/doofy.png');
      background-size: cover;
      background-attachment: fixed;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.10;
    }

    .slidecontainer {
      width: 100%; /* Width of the outside container */
    }

    .slider {
      -webkit-appearance: none;  /* Override default CSS styles */
      appearance: none;
      width: 100%; /* Full-width */
      margin: 2%;
      height: 15px;
      border-radius: 5px;
      background: #d3d3d3; /* Grey background */
      outline: none; /* Remove outline */
      opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
      -webkit-transition: .2s; /* 0.2 seconds transition on hover */
      transition: opacity .2s;
    }

    /* Mouse-over effects */
    .slider:hover {
      opacity: 1; /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      border-radius: 50%;
      background: #04AA6D; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
      width: 25px; /* Set a specific slider handle width */
      height: 25px;
      border-radius: 50%;
      background: #04AA6D; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }

    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid display-4" >
        <div class="row text-height">
            <pre class="bg-dark text-white font-monospace text-display"
                 id="text-source" style="display: none;">{{ text | e }}</pre>
            <pre class="bg-dark text-white font-monospace text-display"
                 id="text-view"></pre>
        </div>

        <div class="row">
            <div class="col-1 form-check form-switch">
               <input class="form-check-input" type="checkbox" id="scrolling" style="background-color: #04AA6D">
            </div>
            <div class="col-1 fa-stack" id="pause" style="color: #04AA6D">
                <i class="fa fa-square fa-stack-2x" style="display: none"></i>
                <i class="fa fa-pause-circle fa-stack-1x fa-inverse" style="display: none"></i>
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-pause-circle fa-stack-1x"></i>
            </div>
            <div class="col-8">
                <input type="range" step="0.25" class="slider" id="speedRange">
            </div>
        </div>
        <div class="row">
          <button id="btn-back" class="btn btn-secondary">Back</button>
        </div>
    </div>
    <script src="/js/view.js"></script>
{% endblock %}
