{% extends "base.html" %}
{% block title %}Captionator{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-fluid display-4" >
        <textarea id="text-source" hidden>{{ text }}</textarea>
        <textarea class="form-control form-control-lg bg-dark text-white font-monospace"
                  id="text-view" name="text"
                  style="height: 1500px">
        </textarea>
        <div class="row">
            <input type="range" class="form-range" id="speedRange" min="0" max="10" step="0.25" value="2.5">
            <label for="speedRange" class="form-label">Speed</label>
        </div>
        <div class="row">
          <button id="btn-back" class="btn btn-secondary">Back</button>
        </div>
    </div>
    <script>
      var slice_len = 15;
      var refresh

      function addContent(idx){
          var addition = $('#text-source').val().substr(idx,slice_len);
          var textarea = $('#text-view').get(0);
          textarea.value += addition;
          if (textarea.selectionStart == textarea.selectionEnd) {
            textarea.scrollTop = textarea.scrollHeight;
          }
          idx += slice_len;
          return idx;
      }
      $(function() {
        $('#btn-back').click(function(){
            $(location).attr("href", "/");
            return false;
        });

        var idx = 0;
        var speed = 250;
        var max_timeout = 1000;
        var timer = null;

        $('#speedRange').change(function(){
            speed = 100 * $(this).val();
            if (speed == 0){
                clearTimeout(timer);
            } else {
                onTick();
            }
        });
        function onTick() {
            idx = addContent(idx);
            if (timer != null) { clearTimeout(timer); }
            timer = setTimeout(onTick, max_timeout - speed);
        }
        onTick();
      })
    </script>
{% endblock %}
